*{
    font-family: Roboto;
    font-size: 8px;
}

header,
.hero,
footer{
    background-color: #1F2937;
    color: #f9faf8;
}
.hero h2{
    font-size: 24px;
    font-weight: 900;
}
ul,
.hero p{
    list-style: none;
    color: #E5E7EB;
    font-size: 9px;
}
header strong{
    font-size: 12px;
}
button{
    background-color: #3882F6;
    color: white;
}
.container strong{
    font-size: 18px;
}
.quote{
    background-color: #e5e7eb;
}
.quote em{
    font-size: 24px;
    font-weight: 300;
    color: #1f2937;
}